.all {
  scrollbar-width: auto;
  scrollbar-color: #3F51B5 #ffffff;
}

.all::-webkit-scrollbar {
  width: 8px;
}

.all::-webkit-scrollbar-track {
  background: #ffffff;
}

.all::-webkit-scrollbar-thumb {
  background-color: #3F51B5;
  border: 0px none #ffffff;
}
